* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.slider-container {
  position: relative;
  width: 500px;
  margin: 0 auto 30px;
}
.slider-container .swiper {
  margin-bottom: 15px;
}

.swiper-container {
  position: relative;
  width: 500px;
  margin: 0 auto 30px;
}
.swiper-container .swiper-wrapper {
  margin-bottom: 15px;
}

.swiper-pagination {
  position: absolute;
  z-index: 5;
  bottom: -10px !important;
  left: 0;
  width: 100%;
  height: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.swiper-pagination span.swiper-pagination-bullet {
  border-radius: 0 !important;
  opacity: 1;
  position: relative;
  width: 50px;
  height: 100%;
  background: rgb(216, 215, 215);
  display: block;
}
.swiper-pagination span.swiper-pagination-bullet::after {
  content: "";
  width: 0;
  height: 100%;
  background: rgb(149, 148, 148);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.swiper-pagination span.swiper-pagination-bullet-active::after {
  width: 100%;
}
.swiper-pagination span.swiper-pagination-bullet-active-now::after {
  animation: progress 2s ease forwards;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}