html,
body,
* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: gray;
  z-index: 100;
}

.over-content {
  margin-top: 80px;
  height: 300px;
  background-color: skyblue;
}

.fixed-parent {
  position: relative;
}

.fixed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh) - 80px);
  overflow: clip;
}
.fixed-container.is-fixed {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
}
.fixed-container .section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh) - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}
.fixed-container .section:nth-child(1) {
  background: #f5f5f5;
}
.fixed-container .section:nth-child(2) {
  background: #cceeff;
}
.fixed-container .section:nth-child(3) {
  background: #ffcccc;
}
.fixed-container .section:nth-child(4) {
  background: #ccffcc;
}
.fixed-container .section.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.fixed-container-cloned {
  pointer-events: none;
  visibility: hidden;
  position: relative;
}
.fixed-container-cloned .section {
  position: relative;
  height: calc(100 * var(--vh) - 80px);
}

.footer {
  position: relative;
  z-index: 11;
  height: 50vh;
  background-color: pink;
}