.feature svg[data-vivus-id] {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.feature svg[data-vivus-id].animated {
  opacity: 1;
}
.feature .mv__Hand {
  width: 20rem;
  margin-bottom: 10rem;
}
.feature .mv__Hand svg {
  display: none;
}
.feature .mv__Hand #base path {
  fill: #cc722a;
}
.feature .mv__Hand #mask path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.feature .mv__Hi {
  width: 30rem;
}
.feature .mv__Hi svg path {
  fill: white;
  stroke: pink;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 10 5;
  stroke-dashoffset: 1000;
  animation: drawLine 2s ease forwards;
}
.feature .mv__Hi svg.animated path {
  animation: drawLine 2s ease forwards, fillIn 0.5s ease forwards;
  animation-delay: 0s, 1.5s;
}
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillIn {
  to {
    fill: pink;
  }
}