@charset "utf-8";
// styles.scss
// @import 'mixin'; // mixinファイルをインポート（必要なら作成）

* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
p {
  text-align: center;
}
.thumbnail {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  img {
    width: 100%;
    height: auto;
  }
}
.fullscreen-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .content {
    width: 356px;
    height: 504px;
    position: absolute;
    top: 50%;
    left: 20vw;
    transform: translateY(-50%);
  }

  .main-image {
    width: 30vw;
    img {
      width: 100%;
      height: auto;
    }
  }

  .thumb-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(calc(-100% - 10px));
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    img {
      width: 100px;
      height: auto;
      cursor: pointer;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
}
