body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.feature {
  width: 350px;
  margin: 0 auto;
}
.feature * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
}
.scroll-container .simplebar-track.simplebar-horizontal {
  height: 8px;
  background: yellow;
  border-radius: 4px;
}
.scroll-container .simplebar-scrollbar:before {
  background-color: yellowgreen;
  border-radius: 4px;
}
.scroll-item-list {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  list-style: none;
}
.scroll-item {
  flex: 0 0 15rem;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
}