* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 150vh;
}

.split-text {
  span {
    color: red;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  &.showed {
    span {
      opacity: 1;
    }
  }
}

.sec {
  img {
    width: 100%;
    height: auto;
  }
  &__image {
    width: 30rem;
    margin: 5rem auto 2.5rem;
    opacity: 0;
    transition: all 1s ease;
    &.showed {
      opacity: 1;
    }
  }
}
