.sec__area {
  position: relative;
  min-height: 100px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: beige;
}
.sec__area * {
  margin: 0;
  padding: 0;
}

.sec__pin {
  position: relative;
  height: 80vh;
  overflow: visible;
  z-index: 2;
}

.bg-navy {
  position: relative;
  background: #001f3f;
  height: 80vh;
  overflow: hidden;
  will-change: transform;
}

.sec__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  overflow: hidden;
  transition: none;
}

.sec__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.sec__img01 {
  z-index: 1;
}

.sec__img02,
.sec__img03,
.sec__img04 {
  z-index: 2;
}