* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 150vh;
}

.split-text {
  span {
    color: red;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  &.showed {
    span {
      opacity: 1;
    }
  }
}
