@charset "utf-8";
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

// $color-list: (#ff9999, #99ff99, #9999ff, #ffcc99, #cc99ff);

.flex-container {
  display: flex;
  border: 2px solid #000;
  padding: 10px;
  margin: 20px 0;

  .box {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #fff;

    // length($color-list) → $color-list の要素数（今回は5）
    // random(5) → 1～5のランダムな数値を取得
    // nth($color-list, X) → X 番目の色を取得
    // background-color: nth($color-list, random(length($color-list)));
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.flex-grow {
  //余白があるときに、どの要素がどれくらい伸びるかを指定する
  .box:nth-child(2) {
    flex-grow: 2;
  }
}

.flex-shrink {
  //画面が狭くなったときに、どの要素がどれくらい縮むかを指定する
  .box:nth-child(2) {
    flex-shrink: 0;
  }
}

.flex-basis {
  // 初期の要素の大きさ（幅・高さ）を指定する
  .box:nth-child(2) {
    flex-basis: 100px;
  }
}

.flex-auto {
  .box {
    flex: auto;
  }
}

.flex-none {
  .box {
    flex: none;
  }
}

.order {
  .box:nth-child(1) {
    order: 2;
  }
  .box:nth-child(2) {
    order: 1;
  }
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-self-center {
  .box:nth-child(2) {
    align-self: center;
  }
}

.align-self-start {
  .box:nth-child(2) {
    align-self: flex-start;
  }
}

.align-self-end {
  .box:nth-child(2) {
    align-self: flex-end;
  }
}

.align-self-stretch {
  .box:nth-child(2) {
    align-self: stretch;
  }
}
