@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.feature {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.feature * {
  box-sizing: border-box;
}
.feature a {
  color: #000;
}

.scroll__box {
  margin-top: 9.3333333333vh;
  width: 100%;
  height: 90.6666666667vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  /* スクロールバーを非表示にする */
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll__box::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.credit {
  opacity: 0;
  transition: opacity 1s ease;
  padding-left: 2.8571428571vw;
  height: 10.6666666667vh;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}
.credit .item {
  list-style: none;
  font-size: 1.6666666667vh;
}
.credit .item:nth-of-type(n + 2) {
  margin-left: 10px;
}

.c__sec {
  position: relative;
  display: flex;
  width: auto;
  height: 80vh;
}
.c__sec img {
  width: auto;
  height: 100%;
}
.c__sec.showed .credit {
  opacity: 1;
}
.c__bg {
  width: 100px;
  height: 100%;
  background-color: yellow;
}
.c__img {
  height: 100%;
}