* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-bottom: 30px;
}
.button span {
  position: relative;
  z-index: 2;
}

.zoom-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
}
.zoom-on-hover:hover {
  transform: scale(1.1);
}

.rotate-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
}
.rotate-on-hover:hover {
  transform: rotate(15deg);
}

.color-change {
  display: inline-block;
  transition: color 0.3s ease;
}
.color-change:hover {
  color: #ff6347;
}

.underline-slide {
  display: inline-block;
  position: relative;
}
.underline-slide:hover {
  color: #ff0000;
}
.underline-slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff0000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.underline-slide:hover::after {
  transform: scaleX(1);
}

.background-slide {
  display: inline-block;
  position: relative;
}
.background-slide:hover {
  color: white;
}
.background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.background-slide:hover::before {
  transform: scaleX(1);
}

.button-expand {
  display: inline-block;
  transition: transform 0.3s ease;
}
.button-expand:hover {
  transform: scale(1.2);
}

.glow-on-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.glow-on-hover::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(15, 212, 150, 0.6);
  transition: top 0.3s ease;
  transform: translateX(-50%);
}
.glow-on-hover:hover::after {
  top: 100%;
}

.button-shrink {
  display: inline-block;
  transition: transform 0.3s ease;
}
.button-shrink:active {
  transform: scale(0.9);
}

.move-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
}
.move-on-hover:hover {
  transform: translate(10px);
}

.ripple-effect {
  border: none;
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: #fff;
  background-color: #1b85fb;
}
.ripple-effect:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: ripple 1.5s infinite;
  color: #fff;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #1b85fb;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(27, 133, 251, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(27, 133, 251, 0);
  }
}

.bg-inversion {
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
  color: #608f2a;
  border: 1px solid #608f2a;
  background-color: #fff;
  transition: all 0.3s;
}
.bg-inversion:hover {
  color: #fff;
  border: 1px solid #608f2a;
  background-color: #608f2a;
}

.arrow-move-right {
  display: inline-block;
  border: none;
  width: 250px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: orange;
  position: relative;
}
.arrow-move-right::before {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  bottom: 0;
  content: "";
  height: 7px;
  width: 7px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  transform: rotate(45deg);
  transition: right 0.5s;
}
.arrow-move-right:hover::before {
  right: 25px;
}

.hover-press {
  display: inline-block;
  width: 250px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: #6bd7f8;
  box-shadow: 5px 5px 0px #4993a9;
  transition: 0.3s;
}
.hover-press:hover {
  box-shadow: unset;
  transform: translate(4px, 4px);
}

.move-left-to-right {
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
  color: #bb44fa;
  background-color: #fff;
  position: relative;
  border: 1px solid #bb44fa;
  transition: color 0.3s ease;
}
.move-left-to-right::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #bb44fa;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s ease;
  transition-property: transform;
}
.move-left-to-right:hover {
  color: #fff;
}
.move-left-to-right:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.top-bottom {
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
  color: #38da3d;
  background-color: #fff;
  position: relative;
  border: 1px solid #38da3d;
  transition: color 1s ease;
}
.top-bottom span {
  position: relative;
}
.top-bottom::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #38da3d;
  transform: scaleY(0);
  transition: all 1s ease;
  transition-property: transform;
}
.top-bottom:hover {
  color: #fff;
}
.top-bottom:hover::before {
  transform: scaleY(1);
}