@charset "utf-8";

/*================================

default

================================*/

html,
body {
  -webkit-text-size-adjust: none;
}

/* 基本タグ -------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  list-style: none;
}
