html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1400px) and (min-width: 767px) {
  html {
    font-size: 0.7142857143vw;
  }
}
.common__container {
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 10vh 0 60vh;
}
.common__container:nth-of-type(n + 2) {
  margin-top: -50vh;
}
.common__container01 {
  background-color: beige;
}
.common__container02 {
  background-color: rgb(171, 211, 242);
}
.common__container03 {
  background-color: rgb(171, 242, 216);
}
.common__container04 {
  background-color: rgb(240, 171, 242);
}
.common__container.normal {
  max-height: auto;
  position: relative;
  top: 0;
  padding: 10vh 0 60vh;
  margin-top: -50vh;
}
.common__container.normal.bg-gray {
  background-color: gray;
}
.common__container.normal.bg-white {
  background-color: #fff;
}

.sec__image {
  text-align: center;
  width: 30vw;
  margin: 0 auto;
}
.sec__image img {
  width: 100%;
  height: auto;
}

.foot-content {
  padding: 10vh 0;
  position: relative;
  z-index: 2;
  margin-top: -50vh;
  background-color: peachpuff;
}