* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.feature.showed {
  animation: fadeIn 2s ease forwards;
}
.feature a {
  color: #000;
}

.scroll__box {
  display: flex;
  height: 90.6666666667vh;
  margin-top: 9.3333333333vh;
  overflow: hidden;
  will-change: transform;
}
.scroll__box.dragging {
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.credit {
  opacity: 0;
  transition: opacity 1s ease;
  padding-left: 2.8571428571vw;
  height: 10.6666666667vh;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.credit.on {
  animation: fadeIn 2s ease forwards;
  z-index: 5;
}
.credit .item {
  list-style: none;
  font-size: 1.6666666667vh;
}
.credit .item:nth-of-type(n + 2) {
  margin-left: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.c__sec {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  height: 80vh;
  display: flex;
  align-items: center;
}
.c__sec img {
  width: auto;
  height: 100%;
}
.c__sec.showed .credit {
  opacity: 1;
}
.c__bg {
  width: 100px;
  height: 100%;
  background-color: yellow;
}
.c__img {
  height: 100%;
}