html {
  font-size: 0.4761904762vw;
}

.typing {
  position: absolute;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1s;
}
.fadeIn.is-active {
  opacity: 1;
}
.fadeIn.anime-delay {
  transition-delay: 0.2s;
}

.l-container {
  width: 100%;
}
.l-container #feature {
  width: 100%;
  text-align: center;
  overflow: clip;
  color: #000;
  font-family: "magister", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: -25px auto -89px;
  padding-bottom: 18rem;
  font-feature-settings: "palt";
}
.l-container #feature *,
.l-container #feature *::before,
.l-container #feature *::after {
  box-sizing: border-box;
}
.l-container #feature a {
  color: inherit;
  display: block;
  text-decoration: none;
  position: relative;
}
.l-container #feature picture {
  display: block;
}
.l-container #feature .default-img {
  width: 100%;
  display: block;
}
.l-container #feature .creditContainer {
  margin: 2.7rem 0 0 -0.1rem;
}
.l-container #feature .creditContainer .credit {
  color: #fff;
  letter-spacing: 0.03em;
  line-height: 1.86;
  font-size: 2.1466666667rem;
}
.l-container #feature .creditContainer .credit li {
  width: -moz-fit-content;
  width: fit-content;
}
.l-container #feature .creditContainer .credit li a {
  transition: 0.3s;
  text-decoration: none;
}
.l-container #feature .creditContainer .credit li a:hover {
  opacity: 0.6;
  cursor: pointer;
  text-decoration: none;
}
.l-container #feature .creditContainer .credit li a::after {
  display: none;
}
.l-container #feature .creditContainer .credit li .price {
  margin-left: 0.7rem;
}
.l-container #feature .creditBtn {
  display: block;
  position: absolute;
  bottom: 1.8rem;
  right: 1.8rem;
  height: 3.1733333333rem;
  width: 3.1733333333rem;
  z-index: 10;
}
.l-container #feature .creditBtn span {
  display: block;
  opacity: 0.8;
  position: relative;
  height: 100%;
  width: 100%;
}
.l-container #feature .creditBtn span::before, .l-container #feature .creditBtn span::after {
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.l-container #feature .creditBtn span::before {
  height: 1px;
  width: 100%;
}
.l-container #feature .creditBtn span::after {
  transition: transform 0.6s ease, opacity 0.6s ease;
  height: 100%;
  width: 1px;
}
.l-container #feature .creditBtn.on span::after {
  transform: rotate(-90deg);
}
.l-container #feature .creditBtn:hover {
  cursor: pointer;
}
.l-container #feature .creditList {
  bottom: 1.5rem;
  left: 1.8rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: 100%;
  z-index: 2;
}
.l-container #feature .creditList.on {
  pointer-events: all;
  opacity: 1;
}
.l-container #feature .contents__wrapper {
  display: flex;
}
.l-container #feature .hero {
  margin: 0 auto;
  width: 110rem;
  position: sticky;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  text-align: left;
}
.l-container #feature .hero__img {
  width: auto;
  height: 74%;
  overflow: hidden;
}
.l-container #feature .hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-container #feature .hero__text01 {
  font-size: 5rem;
  letter-spacing: 0.03em;
  margin: 6rem 0 0 6rem;
}
.l-container #feature .hero__text02 {
  font-size: 3rem;
  letter-spacing: 0.03em;
  margin: 1.9rem 0 0 6.1rem;
}
.l-container #feature .main {
  width: 100rem;
  padding: 0 16rem;
}
.l-container #feature .sec__inner {
  display: flex;
  justify-content: space-between;
}
.l-container #feature .sec__text {
  width: 33.5rem;
  position: relative;
  word-break: break-all;
}
.l-container #feature .sec__text.--w {
  width: 100%;
}
.l-container #feature .sec__text .typing {
  position: absolute;
  word-break: break-word;
}
.l-container #feature .sec__img {
  width: 33.5rem;
  margin-top: 1.05rem;
  position: relative;
}
.l-container #feature .sec__img.--w {
  width: 100%;
}
.l-container #feature .sec__img::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s ease;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.l-container #feature .sec__img.on::before {
  opacity: 1;
}
.l-container #feature .sec01 .sec__img.--w {
  margin-top: 0;
}
.l-container #feature .sec01__text {
  font-size: 3.8rem;
}
.l-container #feature .sec01__text .typing {
  top: 24.9rem;
  left: 2.7rem;
}
.l-container #feature .sec02__text01 {
  font-size: 3.4rem;
  padding: 4.4rem 0 3.6rem;
  line-height: 4.8rem;
}
.l-container #feature .sec02__text01 .typing {
  position: static;
  text-align: left;
}
.l-container #feature .sec02__text01 .typing:nth-child(1) {
  padding-left: 27.2rem;
}
.l-container #feature .sec02__text01 .typing:nth-child(2) {
  padding-left: 13.8rem;
}
.l-container #feature .sec02__text02 {
  font-size: 2.4rem;
}
.l-container #feature .sec02__text02 .typing {
  left: 1.6rem;
}
.l-container #feature .sec02__text02 .typing:nth-child(1) {
  top: 38.6rem;
}
.l-container #feature .sec02__text02 .typing:nth-child(2) {
  top: 42rem;
}
.l-container #feature .sec02__text02 .typing:nth-child(3) {
  top: 45.3rem;
}
.l-container #feature .checkBox {
  margin: 18.1rem auto 0;
}
.l-container #feature .checkBox__btn {
  font-size: 2.8933333333rem;
  letter-spacing: 0.04em;
  padding-bottom: 2rem;
  position: relative;
  display: inline-block;
}
.l-container #feature .checkBox__btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  margin: auto;
  transition: width 1s ease;
  top: 5.4rem;
  right: 0;
  left: 0;
}
.l-container #feature .checkBox__btn.is-active::before {
  width: 15rem;
}
.l-container #feature .checkBox__btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}
.l-container #feature .fadeUp-hidden {
  opacity: 0;
  transform: translateY(10rem);
  transition: 1s ease all;
}
.l-container #feature .animate-active {
  opacity: 1;
  transform: translateY(0) translateX(0) translateZ(0);
}

.area-header,
.breadcrumbs,
.feature-snslist,
.l-footer,
.pc-footer,
.pc-header {
  max-width: 100%;
  overflow: hidden;
}

.pic__accordion {
  display: none !important;
}