html {
  font-size: calc(10 * (100vw / 750));
}

.typing {
  position: absolute;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1s;

  &.is-active {
    opacity: 1;
  }

  &.anime-delay {
    transition-delay: 0.2s;
  }
}

.l-container {
  #feature {
    color: #000;
    font-family: 'magister', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: auto;
    margin: 0 auto 97px;
    max-width: 75rem;
    text-align: center;
    overflow: clip;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    a {
      color: inherit;
      display: block;
    }

    p {
      margin: 0;
    }

    img {
      width: 100%;
      display: block;
    }

    picture {
      display: block;
    }

    .creditContainer {
      max-width: 100%;
      margin: 1.4rem 0 0;

      .credit {
        color: #fff;
        width: 100%;
        font-size: 2.3rem;
        line-height: 1.85;
        letter-spacing: 0.06em;

        li {
          text-align: left;

          a {
            text-decoration: none;
            width: fit-content;
          }

          .price {
            margin-left: 0.7rem;
          }
        }
      }
    }

    .creditBtn {
      display: block;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      height: 3.4rem;
      width: 3.4rem;
      z-index: 10;

      span {
        display: block;
        opacity: 0.8;
        position: relative;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
          background: #fff;
          content: '';
          display: block;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
        }

        &::before {
          height: 1px;
          width: 100%;
        }

        &::after {
          transition: transform 0.6s ease, opacity 0.6s ease;
          height: 100%;
          width: 1px;
        }
      }

      &.on span::after {
        transform: rotate(-90deg);
      }

      &:hover {
        cursor: pointer;
      }
    }

    .creditList {
      bottom: 1.6rem;
      left: 1.7rem;
      position: absolute;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.6s ease;
      width: 100%;
      z-index: 2;

      &.on {
        pointer-events: all;
        opacity: 1;
      }
    }

    .hero__text01 {
      font-size: 4.2rem;
      letter-spacing: 0.03em;
      margin: 12.3rem auto 0;
    }

    .hero__text02 {
      font-size: 3rem;
      letter-spacing: 0.03em;
      margin: 1.8rem auto 0;
    }

    .main {
      margin-top: 8rem;
      padding: 0 1rem;
    }

    .sec__inner {
      display: flex;
      justify-content: space-between;
    }

    .sec__text {
      width: 36rem;
      letter-spacing: 0.02em;
      position: relative;
      word-break: break-all;

      &.--w {
        width: 100%;
      }

      .typing {
        position: absolute;
      }
    }

    .sec__img {
      width: 36rem;
      margin-top: 1rem;
      position: relative;

      &.--w {
        width: 100%;
      }

      &::before {
        background-color: rgba(0, 0, 0, 0.2);
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.6s ease;
        opacity: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
      }

      &.on::before {
        opacity: 1;
      }
    }

    .sec01__text {
      font-size: 3.8rem;

      .typing {
        top: 24.9rem;
        left: 2.7rem;
      }
    }

    .sec02__text01 {
      font-size: 3.4rem;
      padding: 4.8rem 0 3.5rem;
      line-height: 5.2rem;

      .typing {
        position: static;
        text-align: left;

        &:nth-child(1) {
          padding-left: 29.2rem;
        }

        &:nth-child(2) {
          padding-left: 14.8rem;
        }
      }
    }

    .sec02__text02 {
      font-size: 2.4rem;

      .typing {
        left: 2rem;

        &:nth-child(1) {
          top: 41.4rem;
        }

        &:nth-child(2) {
          top: 45rem;
        }

        &:nth-child(3) {
          top: 48.5rem;
        }
      }
    }

    .sec03__text {
      font-size: 3.4rem;
      padding: 5rem 0 3.6rem;

      .typing {
        position: static;
        text-align: left;
        padding-left: 20.7rem;
      }
    }

    .sec04__text {
      font-size: 3.4rem;

      .typing {
        top: 26rem;
        padding-left: 8.3rem;
        text-align: left;
      }
    }

    .checkBox {
      margin: 19.6rem auto 0;

      &__btn {
        font-size: 3.1rem;
        letter-spacing: 0.04em;
        padding-bottom: 2rem;
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 1px;
          background-color: #000;
          margin: auto;
          transition: width 1s ease;
          top: 5.7rem;
          right: 0;
          left: 0;
        }

        &.is-active::before {
          width: 16rem;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }
  }
}

.feature-snslist {
  margin: 0 auto;
}
