// base
html {
  font-size: calc(10 * (100vw / 2100));
}

.typing {
  position: absolute;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1s;

  &.is-active {
    opacity: 1;
  }

  &.anime-delay {
    transition-delay: 0.2s;
  }
}

// layout
.l-container {
  width: 100%;

  #feature {
    width: 100%;
    text-align: center;
    overflow: clip;
    color: #000;
    font-family: 'magister', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: -25px auto -89px;
    padding-bottom: 18rem;
    font-feature-settings: 'palt';

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;
      position: relative;
    }

    picture {
      display: block;
    }

    .default-img {
      width: 100%;
      display: block;
    }

    .creditContainer {
      margin: 2.7rem 0 0 -0.1rem;

      .credit {
        color: #fff;
        letter-spacing: 0.03em;
        line-height: 1.86;
        font-size: calc(2.3rem * 700 / 750);

        li {
          width: fit-content;

          a {
            transition: 0.3s;
            text-decoration: none;

            &:hover {
              opacity: 0.6;
              cursor: pointer;
              text-decoration: none;
            }

            &::after {
              display: none;
            }
          }

          .price {
            margin-left: 0.7rem;
          }
        }
      }
    }

    .creditBtn {
      display: block;
      position: absolute;
      bottom: 1.8rem;
      right: 1.8rem;
      height: calc(3.4rem * 700 / 750);
      width: calc(3.4rem * 700 / 750);
      z-index: 10;

      span {
        display: block;
        opacity: 0.8;
        position: relative;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
          content: '';
          display: block;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
        }

        &::before {
          height: 1px;
          width: 100%;
        }

        &::after {
          transition: transform 0.6s ease, opacity 0.6s ease;
          height: 100%;
          width: 1px;
        }
      }

      &.on span::after {
        transform: rotate(-90deg);
      }

      &:hover {
        cursor: pointer;
      }
    }

    .creditList {
      bottom: 1.5rem;
      left: 1.8rem;
      position: absolute;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.6s ease;
      width: 100%;
      z-index: 2;

      &.on {
        pointer-events: all;
        opacity: 1;
      }
    }

    .contents__wrapper {
      display: flex;
    }

    .hero {
      margin: 0 auto;
      width: 110rem;
      position: sticky;
      top: 80px;
      left: 0;
      height: calc(100vh - 80px);
      text-align: left;

      &__img {
        width: auto;
        height: 74%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__text01 {
        font-size: 5rem;
        letter-spacing: 0.03em;
        margin: 6rem 0 0 6rem;
      }

      &__text02 {
        font-size: 3rem;
        letter-spacing: 0.03em;
        margin: 1.9rem 0 0 6.1rem;
      }
    }

    .main {
      width: 100rem;
      padding: 0 16rem;
    }

    .sec__inner {
      display: flex;
      justify-content: space-between;
    }

    .sec__text {
      width: 33.5rem;
      position: relative;
      word-break: break-all;

      &.--w {
        width: 100%;
      }

      .typing {
        position: absolute;
        word-break: break-word;
      }
    }

    .sec__img {
      width: 33.5rem;
      margin-top: 1.05rem;
      position: relative;

      &.--w {
        width: 100%;
      }

      &::before {
        background-color: rgba(0, 0, 0, 0.2);
        content: '';
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.6s ease;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      &.on::before {
        opacity: 1;
      }
    }

    .sec01 {
      .sec__img.--w {
        margin-top: 0;
      }

      &__text {
        font-size: 3.8rem;

        .typing {
          top: 24.9rem;
          left: 2.7rem;
        }
      }
    }

    .sec02 {
      &__text01 {
        font-size: 3.4rem;
        padding: 4.4rem 0 3.6rem;
        line-height: 4.8rem;

        .typing {
          position: static;
          text-align: left;

          &:nth-child(1) {
            padding-left: 27.2rem;
          }

          &:nth-child(2) {
            padding-left: 13.8rem;
          }
        }
      }

      &__text02 {
        font-size: 2.4rem;

        .typing {
          left: 1.6rem;

          &:nth-child(1) {
            top: 38.6rem;
          }

          &:nth-child(2) {
            top: 42rem;
          }

          &:nth-child(3) {
            top: 45.3rem;
          }
        }
      }
    }

    .checkBox {
      margin: 18.1rem auto 0;

      &__btn {
        font-size: calc(3.1rem * 700 / 750);
        letter-spacing: 0.04em;
        padding-bottom: 2rem;
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 1px;
          background-color: #000;
          margin: auto;
          transition: width 1s ease;
          top: 5.4rem;
          right: 0;
          left: 0;
        }

        &.is-active::before {
          width: 15rem;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }

    .fadeUp-hidden {
      opacity: 0;
      transform: translateY(10rem);
      transition: 1s ease all;
    }

    .animate-active {
      opacity: 1;
      transform: translateY(0) translateX(0) translateZ(0);
    }
  }
}

// global modules
.area-header,
.breadcrumbs,
.feature-snslist,
.l-footer,
.pc-footer,
.pc-header {
  max-width: 100%;
  overflow: hidden;
}

.pic__accordion {
  display: none !important;
}
