@charset "utf-8";
@use 'sass:math';

// 関数ここから

// 小数点以下の桁数
$d: 2;

// Round (四捨五入)
@function round-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(
      math.div($number, $parent_width) * 100vw,
      $digits,
      'round'
    );
  }
}

// Ceil (切り上げ)
@function ceil-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(math.div($number, $parent_width) * 100vw, $digits, 'ceil');
  }
}

// Floor (切り捨て)
@function floor-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(
      math.div($number, $parent_width) * 100vw,
      $digits,
      'floor'
    );
  }
}

// 小数点の桁数を指定して丸める関数
@function to-fixed($number, $digits: 0, $round: 'round') {
  $n: 1;

  // $number が数値であることを確認
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }

  // $digits が単位なしの数値であることを確認
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }

  @for $i from 1 through $digits {
    $n: $n * 10;
  }

  @if $round == 'round' {
    @return math.div(round($number * $n), $n);
  } @else if $round == 'ceil' {
    @return math.div(ceil($number * $n), $n);
  } @else if $round == 'floor' {
    @return math.div(floor($number * $n), $n);
  } @else {
    @warn '#{ $round } is undefined keyword.';
    @return $number;
  }
}

// ** Mixin 定義 **

// margin
@mixin margin($t, $r, $b, $l) {
  margin: round-decimal($t) round-decimal($r) round-decimal($b)
    round-decimal($l);
}

// 個別margin
@mixin mt($w) {
  margin-top: round-decimal($w);
}
@mixin mr($w) {
  margin-right: round-decimal($w);
}
@mixin mb($w) {
  margin-bottom: round-decimal($w);
}
@mixin ml($w) {
  margin-left: round-decimal($w);
}

// padding
@mixin padding($t, $r, $b, $l) {
  padding: round-decimal($t) round-decimal($r) round-decimal($b)
    round-decimal($l);
}

// 個別padding
@mixin pt($w) {
  padding-top: round-decimal($w);
}
@mixin pr($w) {
  padding-right: round-decimal($w);
}
@mixin pb($w) {
  padding-bottom: round-decimal($w);
}
@mixin pl($w) {
  padding-left: round-decimal($w);
}

// 位置指定ミックスイン
@mixin at($w) {
  top: round-decimal($w);
}
@mixin ar($w) {
  right: round-decimal($w);
}
@mixin ab($w) {
  bottom: round-decimal($w);
}
@mixin al($w) {
  left: round-decimal($w);
}

// font-size
@mixin font-size($w) {
  font-size: round-decimal($w);
}

// width, height
@mixin width($w) {
  width: round-decimal($w);
}
@mixin height($w) {
  height: round-decimal($w);
}

// line-height
@mixin line-height($w) {
  line-height: round-decimal($w);
}

// clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// 疑似要素初期化
@mixin icon-ini {
  content: '';
  display: inline-block;
}

// 親要素に対して中央寄せ
@mixin absolute-center($direction) {
  position: absolute;

  @if $direction == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction == x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == y {
    top: 50%;
    transform: translateY(-50%);
  }
}

// .showed に適用するフェードイン
@mixin fadein($translateX: 0, $translateY: 0, $sec: 1s) {
  transform: translate($translateX, $translateY);
  opacity: 0;
  transition: $sec;

  &.showed {
    transform: translate(0);
    opacity: 1;
  }
}

// 長文テキストを枠内に収める
@mixin truncate($width: 100%) {
  width: $width;
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 両端揃えの設定
@mixin justify() {
  text-align: justify;
  text-justify: inter-ideograph;
}

// くの字矢印
@mixin arrow($width: 30, $bold: 1, $color: orange, $deg: right) {
  @include icon-ini();
  border-color: $color;
  border-style: solid;
  border-width: 0 #{$bold}px #{$bold}px 0;
  height: #{$width}px;
  width: #{$width}px;

  @if $deg == 'left' {
    transform: rotate(135deg);
  } @else if $deg == 'top' {
    transform: rotate(225deg);
  } @else if $deg == 'right' {
    transform: rotate(-45deg);
  } @else if $deg == 'bottom' {
    transform: rotate(45deg);
  }
}

// 三角形の擬似要素
@mixin triangle($direction, $width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  $valWidth: math.div($width, 2);
  $valHeight: math.div($height, 2);

  @if $direction == top {
    border-width: 0 $valWidth $height $valWidth;
    border-color: transparent transparent $color transparent;
  } @else if $direction == left {
    border-width: $valHeight $width $valHeight 0;
    border-color: transparent $color transparent transparent;
  }
}

$parent_width: 1600;

.name {
  // height: 100vh;
  background-color: #fff;
  font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', 'メイリオ', serif;
  line-height: 1;
  // font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  // font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","小塚ゴシック","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif ;

  a {
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    vertical-align: bottom;
  }

  .dfl {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  position: absolute;
  @include at(10);
  @include ar(10);
  @include ab(10);
  @include al(10);
  @include mt(10);
  @include mr(10);
  @include mb(10);
  @include ml(10);
  @include pt(10);
  @include pr(10);
  @include pb(10);
  @include pl(10);
  @include width(1000);
  @include height(1000);
  @include font-size(50);

  &-main {
  }
  p {
    @include truncate();
    @include justify();
    &.anim {
      @include fadein(50px, 50px, 0.5s);

      &::before {
        @include arrow();
      }
    }
  }
  .triangle {
    @include triangle(top, 30px, 30px, orange);
  }
}

// 独自の記述
.sec01__Hide {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #f0f0f0;
  margin-top: 10px;
}

.sec01__Hide.-op {
  /* JSでmax-heightを上書き */
}

.sec__wrapper {
  padding: 10px;
}

.sec01__Hide-Btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.sec01__Hide-Btn img {
  width: 20px;
  margin-left: 8px;
}
