html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // height: auto;
  // overflow-x: hidden;
}
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: gray;
}
.over-content {
  width: 100%;
  height: 300px;
  background-color: skyblue;
}

.f-container {
  // min-height: calc((100vh - 80px) * 4); // セクション数 x 100vh分確保
  min-height: calc((100vh - 80px) * 4);
  position: relative;
  height: auto;
  overflow: clip;
}

.section {
  position: sticky;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  background: #f5f5f5;

  &:nth-child(2) {
    background: #cceeff;
  }
  &:nth-child(3) {
    background: #ffcccc;
  }
  &:nth-child(4) {
    background: #ccffcc;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: pink;
}
