.parallax-container {
  position: relative;
  width: 100%;
  height: 4500px;
}

.parallax-item {
  position: absolute;
  width: 530px;
  height: 750px;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  will-change: transform;
  transition: transform 2s linear;
}
.parallax-item[data-speed="0.5"] {
  transform: translateY(0);
}
.parallax-item:nth-child(1) {
  top: 31.25vw;
  right: 12.5vw;
}
.parallax-item:nth-child(2) {
  top: 31.25vw;
  left: 12.5vw;
}
.parallax-item:nth-child(3) {
  top: 31.25vw;
  left: 31.25vw;
}