html {
  font-size: 62.5%;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1400px) and (min-width: 767px) {
  html {
    font-size: 0.7142857143vw;
  }
}

//これを実装する際はstickyするコンテンツは画面内に収めること
//そのためstickyする場合はdiv内に多くのコンテンツを入れないこと
//完全レスポンシブ対応すること
.common__container {
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 10vh 0 60vh; //2つ目以降のmargin-topのぶん多くpadding-bottomをとる

  &:nth-of-type(n + 2) {
    margin-top: -50vh; //多くつけたpadding-bottomのぶんマイナスする
  }

  &01 {
    background-color: beige;
  }
  &02 {
    background-color: rgb(171, 211, 242);
  }
  &03 {
    background-color: rgb(171, 242, 216);
  }
  &04 {
    background-color: rgb(240, 171, 242);
  }

  &.normal {
    max-height: auto;
    position: relative;
    top: 0;
    padding: 10vh 0 60vh;
    margin-top: -50vh;
    &.bg-gray {
      background-color: gray;
    }
    &.bg-white {
      background-color: #fff;
    }
  }
}

.sec {
  &__image {
    text-align: center;
    width: 30vw;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.foot-content {
  padding: 10vh 0;
  position: relative;
  z-index: 2;
  margin-top: -50vh;
  background-color: peachpuff;
}
