/* 基本設定 */
html {
  font-size: 7.33333px; // ← ここを自分で設定（＝1remの基準値）
}

/* Sass関数 */
@function rem($px, $base: 7.33333) {
  @return ($px / $base) * 1rem;
}

/* 使用例 */
.container {
  width: rem(550); // → 出力: width: 75rem;
}
