@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.feature {
  width: 350px;
  // max-width: 350px;
  margin: 0 auto;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.scroll {
  &-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;

    .simplebar-track.simplebar-horizontal {
      height: 8px;
      background: yellow;
      border-radius: 4px;
    }

    .simplebar-scrollbar:before {
      background-color: yellowgreen;
      border-radius: 4px;
    }
  }

  &-item-list {
    display: flex;
    align-items: stretch; // ★ 子要素の高さを揃える
    gap: 1rem;
    list-style: none;
  }

  &-item {
    flex: 0 0 15rem;
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
  }
}
