@keyframes radiation {
  0% {
    z-index: 2;
  }
  25% {
    z-index: 2;
  }
  25% {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
    z-index: 3;
  }
  28.125% {
    clip-path: polygon(100% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  31.25% {
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  34.375% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  37.5% {
    clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  40.625% {
    clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  43.75% {
    clip-path: polygon(0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
  46.875% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 50% 0, 50% 50%);
  }
  50% {
    clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%);
    z-index: 3;
  }
  50.0000000001% {
    z-index: 2;
  }
  74.999999% {
    clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%);
  }
  75% {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0, 50% 50%);
  }
}
@keyframes revealSplitHorizontal {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.sec__image {
  width: 30rem;
  margin: 5rem auto 2.5rem;
}
.sec__image img {
  width: 100%;
  height: auto;
}
.sec__text {
  font-size: 1.5rem;
  width: 30rem;
  margin: 5rem auto 2.5rem;
}
.sec .fl {
  position: relative;
  overflow: hidden;
  transition: clip-path 3s ease-out;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.sec .fl.showed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sec .fr {
  position: relative;
  overflow: hidden;
  transition: clip-path 1s cubic-bezier(0, 0.97, 0.95, -0.07);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.sec .fr.showed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sec .ft {
  position: relative;
  overflow: hidden;
  transition: clip-path 4s ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.sec .ft.showed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sec .fb {
  position: relative;
  overflow: hidden;
  transition: clip-path 2s ease;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.sec .fb.showed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sec .split-horizontal {
  position: relative;
  overflow: hidden;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
.sec .split-horizontal.showed {
  animation: revealSplitHorizontal 1s ease 1s forwards;
}