@charset "utf-8";
@use 'sass:math';

$parent_width: 1600;
// 関数ここから

// 小数点以下の桁数
$d: 2;

// Round (四捨五入)
@function round-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(
      math.div($number, $parent_width) * 100vw,
      $digits,
      'round'
    );
  }
}

// Ceil (切り上げ)
@function ceil-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(math.div($number, $parent_width) * 100vw, $digits, 'ceil');
  }
}

// Floor (切り捨て)
@function floor-decimal($number, $digits: 0) {
  @if $number == 'auto' {
    @return auto;
  } @else {
    @return to-fixed(
      math.div($number, $parent_width) * 100vw,
      $digits,
      'floor'
    );
  }
}

// 小数点の桁数を指定して丸める関数
@function to-fixed($number, $digits: 0, $round: 'round') {
  $n: 1;

  // $number が数値であることを確認
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }

  // $digits が単位なしの数値であることを確認
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }

  @for $i from 1 through $digits {
    $n: $n * 10;
  }

  @if $round == 'round' {
    @return math.div(round($number * $n), $n);
  } @else if $round == 'ceil' {
    @return math.div(ceil($number * $n), $n);
  } @else if $round == 'floor' {
    @return math.div(floor($number * $n), $n);
  } @else {
    @warn '#{ $round } is undefined keyword.';
    @return $number;
  }
}

// ** Mixin 定義 **

// margin
@mixin margin($t, $r, $b, $l) {
  margin: round-decimal($t) round-decimal($r) round-decimal($b)
    round-decimal($l);
}

// 個別margin
@mixin mt($w) {
  margin-top: round-decimal($w);
}
@mixin mr($w) {
  margin-right: round-decimal($w);
}
@mixin mb($w) {
  margin-bottom: round-decimal($w);
}
@mixin ml($w) {
  margin-left: round-decimal($w);
}

// padding
@mixin padding($t, $r, $b, $l) {
  padding: round-decimal($t) round-decimal($r) round-decimal($b)
    round-decimal($l);
}

// 個別padding
@mixin pt($w) {
  padding-top: round-decimal($w);
}
@mixin pr($w) {
  padding-right: round-decimal($w);
}
@mixin pb($w) {
  padding-bottom: round-decimal($w);
}
@mixin pl($w) {
  padding-left: round-decimal($w);
}

// 位置指定ミックスイン
@mixin at($w) {
  top: round-decimal($w);
}
@mixin ar($w) {
  right: round-decimal($w);
}
@mixin ab($w) {
  bottom: round-decimal($w);
}
@mixin al($w) {
  left: round-decimal($w);
}

// width, height
@mixin width($w) {
  width: round-decimal($w);
}
@mixin height($w) {
  height: round-decimal($w);
}

// line-height
@mixin line-height($w) {
  line-height: round-decimal($w);
}

// clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// 疑似要素初期化
@mixin icon-ini {
  content: '';
  display: inline-block;
}

// 親要素に対して中央寄せ
@mixin absolute-center($direction) {
  position: absolute;

  @if $direction == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction == x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == y {
    top: 50%;
    transform: translateY(-50%);
  }
}

// .showed に適用するフェードイン
@mixin fadein($translateX: 0, $translateY: 0) {
  transform: translate($translateX, $translateY);
  opacity: 0;
  transition: 1s;

  &.showed {
    transform: translate(0);
    opacity: 1;
  }
}

// 長文テキストを枠内に収める
@mixin truncate($width: 100%) {
  width: $width;
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 両端揃えの設定
@mixin justify() {
  text-align: justify;
  text-justify: inter-ideograph;
}

// くの字矢印
@mixin arrow($width, $bold, $color, $deg) {
  @include icon-ini;
  border-color: $color;
  border-style: solid;
  border-width: 0 #{$bold}px #{$bold}px 0;
  height: #{$width}px;
  width: #{$width}px;

  @if $deg == 'left' {
    transform: rotate(135deg);
  } @else if $deg == 'top' {
    transform: rotate(225deg);
  } @else if $deg == 'right' {
    transform: rotate(-45deg);
  } @else if $deg == 'bottom' {
    transform: rotate(45deg);
  }
}

// 三角形の擬似要素
@mixin triangle($direction, $width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  $valWidth: math.div($width, 2);
  $valHeight: math.div($height, 2);

  @if $direction == top {
    border-width: 0 $valWidth $height $valWidth;
    border-color: transparent transparent $color transparent;
  } @else if $direction == left {
    border-width: $valHeight $width $valHeight 0;
    border-color: transparent $color transparent transparent;
  }
}

// パララックス用の Mixin
@mixin parallax($speed) {
  transform: translateY(0);
  will-change: transform;
  transition: transform 2s linear;
  &[data-speed='#{$speed}'] {
    transform: translateY(0);
  }
}

// パララックス全体のスタイル
.parallax-container {
  // scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 4500px;
}

// 各パララックスアイテム
.parallax-item {
  position: absolute;
  width: 530px;
  height: 750px;
  background-size: cover;
  background-position: center;
  @include parallax(0.5);
  &:nth-child(1) {
    @include at(500);
    @include ar(200);
  }
  &:nth-child(2) {
    @include at(500);
    @include al(200);
  }
  &:nth-child(3) {
    @include at(500);
    @include al(500);
  }
}
