html,
body,
* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: gray;
  z-index: 100;
}

.over-content {
  margin-top: 80px;
  height: 300px;
  background-color: skyblue;
}

.fixed-parent {
  position: relative;
}

// 表示用セクション（切り替え）
.fixed-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc((100 * var(--vh)) - 80px);
  overflow: clip;

  &.is-fixed {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 10;
  }

  .section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc((100 * var(--vh)) - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;

    &:nth-child(1) {
      background: #f5f5f5;
    }
    &:nth-child(2) {
      background: #cceeff;
    }
    &:nth-child(3) {
      background: #ffcccc;
    }
    &:nth-child(4) {
      background: #ccffcc;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}

// スクロール判定用クローン
.fixed-container-cloned {
  pointer-events: none;
  visibility: hidden;
  position: relative;

  .section {
    position: relative;
    height: calc((100 * var(--vh)) - 80px);
  }
}

.footer {
  position: relative;
  z-index: 11;
  height: 50vh;
  background-color: pink;
}
