* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

p {
  text-align: center;
}

.thumbnail {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.thumbnail img {
  width: 100%;
  height: auto;
}

.fullscreen-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.fullscreen-slider-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.fullscreen-slider .content {
  width: 20vw;
  height: 28.2vw;
  position: absolute;
  top: 50%;
  left: 20vw;
  transform: translateY(-50%);
}
.fullscreen-slider .main-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.fullscreen-slider .main-slider img {
  width: 100%;
  height: auto;
}
.fullscreen-slider .thumb-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(calc(-100% - 10px));
  width: 5vw;
}
.fullscreen-slider .thumb-slider img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 10px;
}
.fullscreen-slider .thumb-slider img:last-child {
  margin-bottom: 0;
}
.fullscreen-slider .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}