@charset "utf-8";
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
* {
  padding: 0;
  margin: 0;
}
.hero {
  width: 500px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slider-area {
  height: 100vh;
  // position: relative;
  z-index: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
}

.slider-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  transition: position 0.3s;

  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
  }
}

/* スクロールで切り替え（ナンバリング付き） */
.scroll-slider {
  width: 500px;
  height: 100%; // 親と同じに
  img {
    width: 100%;
    height: auto;
  }
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

// ナンバリング表示
.slide-count {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

// スクロール中のスライドにぼかしを適用
.swiper-slide {
  transition: filter 0.3s ease;
  &.scrolling {
    filter: blur(5px);
  }
}

.foot {
  width: 500px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}
