* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature {
  opacity: 0;
  &.showed {
    animation: fadeIn 2s ease forwards;
  }
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // ← 修正ポイント：ピンするため余計なスクロールを防ぐ
  a {
    color: #000;
  }
}

.scroll__box {
  display: flex;
  height: calc((816 / 900 * 100vh));
  margin-top: calc((84 / 900 * 100vh));
  overflow: hidden;
  will-change: transform;
  &.dragging {
    cursor: grabbing;
    user-select: none;
  }
}

.credit {
  opacity: 0;
  transition: opacity 1s ease;
  padding-left: calc((40 / 1400 * 100vw));
  height: calc((96 / 900 * 100vh));
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;

  &.on {
    animation: fadeIn 2s ease forwards;
    z-index: 5;
  }
  .item {
    list-style: none;
    font-size: calc((15 / 900 * 100vh));
    &:nth-of-type(n + 2) {
      margin-left: 10px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c {
  &__sec {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    height: calc((720 / 900 * 100vh));
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: 100%;
    }

    &.showed {
      .credit {
        opacity: 1;
      }
    }
  }

  &__bg {
    width: 100px;
    height: 100%;
    background-color: yellow;
  }

  &__img {
    height: 100%;
  }
}
